<div class="container">
  <div class="row">
    <h1 class="movie-title mt-2 mb-4"><%= title %> <br class="d-sm-none">
      動画教材</h1>
  </div>
</div>
<div class="row">
  <%= render partial: "movie", collection: @movies %>
</div>
<%= paginate @movies %>
