.movie-title {
  margin: 0 auto;
  text-align: center;
}

.card-box {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.content-card {
  height: 420px;
  max-width: 376px;
  margin: 0 auto;
}
