<div class="card-box col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
    <div class="bd-placeholder-img card-img-top">
      <img src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg" alt="デフォルト画像">
    </div>
    <div class="card-body">
      <a href="#" class="btn btn-secondary btn-block">読破済みにする</a>
      <h5 class="card-title mt-3"><%= text.title %></h5>
      <p class="card-genre">【<%= text.genre %>】</p>
    </div>
  </div>
</div>
